{% extends "base.html" %}


{% block content %}
<v-container>
<h1 class="text-center">Tool Durability Tracker</h1>
  <v-card max-width="1000" color="#88c9a1" class="mx-auto">
    {% if user.is_authenticated %}
      <v-card-text>
        <v-row>
          <v-col
            v-for="tool in tools"
            :key="tool.id"
            cols="6"
            sm="4"
            md="3"
            lg="2"
          >
            <v-card color="#e9f5eb">
              <v-card-actions>
                <v-btn
                  x-small
                  color="error"
                  width="calc(50% - 4px)"
                  @click="deleteTool(tool.id)"
                >
                  <v-icon small>mdi-delete</v-icon>
                </v-btn>
                <v-btn
                  x-small
                  color="success"
                  width="calc(50% - 4px)"
                  @click="openUpgradeToolDialog(tool)"
                >
                  <v-icon small>mdi-chevron-double-up</v-icon>
                </v-btn>
              </v-card-actions>
              <v-img :src="tool.tool.image"></v-img>
              <v-card-text class="body-1 text-center font-weight-bold pb-0">
                [[ tool.display_name ]]<br />
                <span class="headline pb-0">[[ tool.tool.durability - tool.uses ]]</span><br />
                <span class="caption secondary--text">uses remaining</span>
                <v-progress-linear :value="getProgress(tool.uses, tool.tool.durability)"></v-progress-linear>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  small
                  color="info"
                  width="calc(50% - 4px)"
                  @click="updateTool(tool.id, 'decr')"
                  :disabled="tool.uses == 0"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
                <v-btn
                  small
                  color="info"
                  width="calc(50% - 4px)"
                  @click="updateTool(tool.id, 'incr')"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <h2 class="headline text-center py-12" v-if="tools.length == 0">You have no tools yet! Click the green + to craft a new one!</h2>
      </v-card-text>
      <v-dialog
        v-model="newDialog"
        width="400"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            fab
            absolute
            bottom
            right
            color="success"
            v-on="on"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <v-card color="#e9f5eb">
          <v-card-title><h1>Craft New Tool</h1></v-card-title>
          <v-card-text>
            <v-select
              :items="toolTypeChoices"
              v-model="newTool"
              placeholder="Choose a tool"
            ></v-select>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="success"
              @click="craftNewTool"
            >
              Craft Tool
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    {% else %}
      {% include 'logged_out_home.html' %}
    {% endif %}
  </v-card>
  {% include 'instructions.html' %}
</v-container>

{% if user.is_authenticated %}
<v-dialog
  v-model="upgradeDialog"
  width="400"
>
  <v-card width="400" color="#e9f5eb">
    <v-card-title><h1>Upgrade Tool</h1></v-card-title>
    <v-card-text class="body-1">
      Upgrade your [[ selectedTool ? selectedTool.name : '' ]] to:
      <v-select
        v-model="upgradeToChoice"
        :items="upgradeChoices"
        item-text="display_name"
        item-value="id"
        placeholder="Select tool"
      ></v-select>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="success"
        @click="upgradeTool"
      >
        Upgrade
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
{% endif %}
{% endblock %}


{% block data %}
  {% if user.is_authenticated %}
    tools: [],
    newDialog: false,
    upgradeDialog: false,
    selectedTool: null,
    toolTypeChoices: {{ tool_choices|safe }},
    newTool: null,
    upgradeChoices: null,
    upgradeToChoice: null
  {% endif %}
{% endblock %}


{% block methods %}
{
  {% if user.is_authenticated %}
    fetchTools() {
      this.$http.get('{% url 'usertool-list' %}?format=json')
        .then(r => {
            let toolList = r.body
            for(let tool of toolList){
                tool.tool.image = tool.tool.image.replace('http', 'https')
            }
            this.tools = toolList
        })
        .catch(err => console.log(err))
    },
    updateTool(id, action) {
      let csrf_token = Cookies.get('csrftoken')
      this.$http.post('{% url 'tool-usage' %}', {pk: id, action: action}, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => r.json())
        .then(r => this.fetchTools())
        .catch(err => console.log(err))
    },
    craftNewTool() {
      let csrf_token = Cookies.get('csrftoken')
      this.$http.post('/api/tools/', {'user': {{ user.id }}, 'tool': this.newTool}, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => {
          this.newDialog = false
          this.newTool = null
          this.fetchTools()
        })
        .catch(err => console.log(err))
    },
    deleteTool(pk) {
      let csrf_token = Cookies.get('csrftoken')
      this.$http.delete(`/api/tools/${pk}/`, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => this.fetchTools())
        .catch(err => console.log(err))
    },
    openUpgradeToolDialog(tool) {
      this.selectedTool = tool
      this.upgradeDialog = true
      let csrf_token = Cookies.get('csrftoken')
      this.$http.post('{% url 'upgrade-choices' %}?format=json', {category: tool.tool.category, current: tool.tool.id}, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => this.upgradeChoices = r.body)
        .catch(err => console.log(err))
    },
    upgradeTool() {
      let csrf_token = Cookies.get('csrftoken')
      this.$http.delete(`/api/tools/${this.selectedTool.id}/`, {headers: {'X-CSRFToken': csrf_token}})
        .catch(err => console.log(err))
      this.$http.post('/api/tools/', {'user': {{ user.id }}, 'tool': this.upgradeToChoice}, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => {
          this.fetchTools()
          this.upgradeDialog = false
          this.selectedTool = null
        })
        .catch(err => console.log(err))
    },
    getProgress(fraction, whole) {
      if(fraction == 0) {
        return 100
      }
      return 100 - (fraction / whole * 100)
    }
  {% endif %}
}
{% endblock %}


{% block mounted %}
{
  {% if user.is_authenticated %}
    this.fetchTools()
  {% endif %}
}
{% endblock %}
