{% extends "base.html" %}


{% block title %}Login | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto mt-12" max-width="400" color="#88c9a1">
    <v-card-title><h1>Login</h1></v-card-title>
    {% if user.is_authenticated %}
      <v-card-text class="title">
        <p>You're already logged in as {{ user.username }}!</p>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#e9f5eb"
          href="{% url 'home' %}"
        >
          Home page
        </v-btn>
        <v-btn
          color="error"
          href="{% url 'logout' %}"
        >
          Log out
        </v-btn>
      </v-card-actions>
    {% else %}
      <v-form method="post" action="#">
        {% csrf_token %}
        <v-card-text>
          <v-text-field
            label="Username"
            name="username"
            filled
            class="ma-0 pa-0"
          ></v-text-field>
          <v-text-field
            label="Password"
            name="password"
            type="password"
            filled
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="#e9f5eb"
            type="submit"
          >
            Submit
          </v-btn>
        </v-card-actions>
      </v-form>
    {% endif %}
  </v-card>
</v-container>
{% endblock %}