{% extends "base.html" %}


{% block title %}Register | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto mt-12" max-width="500" color="#88c9a1">
    <v-card-title><h1>Register</h1></v-card-title>
    <v-form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <v-card-text>
        {% if form.non_field_errors %}
          <v-alert type="error">{{ form.non_field_errors }}</v-alert>
        {% endif %}
        <v-row>
          <v-col cols="12">
            <v-text-field
              filled
              persistent-hint
              label="Username"
              name="username"
              hint="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only."
              v-model="username"
              :rules="[rules.required, rules.max]"
              :error-count="5"
              :error-messages="errors.username ? errors.username.map(i => i.message) : []"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              filled
              label="Password"
              name="password1"
              type="password"
              v-model="password1"
              :rules="[rules.required, rules.min, rules.alphanumeric]"
              :error-count="5"
              :error-messages="errors.password ? errors.password.map(i => i.message) : []"
            ></v-text-field>
            <ul class="caption secondary--text">
              <li>Your password can’t be too similar to your other personal information.</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can’t be a commonly used password.</li>
              <li>Your password can’t be entirely numeric.</li>
            </ul>
          </v-col>
          <v-col cols="12">
            <v-text-field
              filled
              persistent-hint
              label="Password confirmation"
              name="password2"
              type="password"
              hint="Enter the same password as before, for verification"
              v-model="password2"
              :rules="[rules.required]"
              :error-count="5"
              :error-messages="errors.password2 ? errors.password2.map(i => i.message) : []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#e9f5eb"
          type="submit"
        >
          Submit
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</v-container>
{% endblock %}


{% block data %}
  username: '',
  password1: '',
  password2: '',
  rules: {
    required: v => !!v || 'Required',
    min: v => v.length >= 8 || 'Min 8 characters',
    max: v => v.length <= 150 || 'Max 150 characters',
    alphanumeric: v => isNaN(v) || 'Cannot be entirely numeric'
  },
  errors: {{ form.errors.as_json|safe|default:'[]' }}
{% endblock %}