@font-face {
    font-family: "FinkHeavy";
    src: local("FinkHeavy"), url("FinkHeavy.ttf");
}
[v-cloak] > * {
    display: none;
}
#app {
    background-color: #e9f5eb;
}
h1 {
    font-family: "FinkHeavy", serif;
    font-size: 3rem;
    color: #6E661B;

}
.fink {
    font-family: "FinkHeavy", serif !important;
    color: #6E661B;
}
.no-decoration {
    text-decoration: none;
}