{% load static %}


<v-app-bar app color="#88c9a1">
  <v-toolbar-title>
    <a href="{% url 'home' %}" class="d-flex align-center no-decoration">
      <v-img
        src="{% static 'images/icons/favicon.png' %}"
        max-height="55"
        max-width="55"
        contain
      ></v-img>
      <h1 class="ml-2 hidden-sm-and-down">AC:NH Tools</h1>
    </a>
  </v-toolbar-title>
  <v-spacer></v-spacer>
  {% if user.is_authenticated %}
    <v-btn
      color="error"
      href="{% url 'logout' %}"
    >
      Log Out
    </v-btn>
  {% else %}
    <v-toolbar-items>
      <v-btn href="{% url 'login' %}" text>Login</v-btn>
      <v-btn text color="#6E661B" href="{% url 'register' %}">Register</v-btn>
    </v-toolbar-items>
  {% endif %}
</v-app-bar>