<v-footer padless class="mt-6">
  <v-card flat tile width="100%" color="#88c9a1">
    <v-card-text>
      Copyright &copy; 2020 <a href="https://furhost.net" target="_blank">FurHost.net</a> &mdash; Animal Crossing and
      all logos and likeness are copyright their respective owners
    </v-card-text>
  </v-card>
</v-footer>