<v-card class="mx-auto mt-12" color="#88c9a1" max-width="1000">
  <v-card-title><h1>How to use</h1></v-card-title>
  <v-card-text class="body-1">
    <p>
      We've made our best attempt at creating an easy to understand, intuitive interface. Only including what is
      really needed, as too many features and extras take away from the core purpose of this site.
    </p>
    <p>
      First things first though, go ahead and <a href="{% url 'register' %}">register an account</a> if you haven't
      already! Otherwise just make sure you're logged in.
    </p>
    <p class="font-weight-bold">Here's a quick rundown on usage:</p>

    <h3 class="display-1 mt-6">Crafting tools</h3>
    <ul>
      <li>After you create your account and log in, click the <strong>green + button</strong> to craft a new tool</li>
      <li>A popup will appear asking you to select what type of tool</li>
      <li>Click the big <strong>green 'Craft Tool' button</strong> to add it to your list</li>
    </ul>

    <h3 class="display-1 mt-6">Tracking tool usage</h3>
    <ul>
      <li>The tool will start out with full durability and show the number of uses remaining</li>
      <li>Any time you use a tool, click the <strong>blue + button</strong> on that tool to increment the use counter</li>
      <li>Don't worry if you accidentally click it! There's a <strong>blue &ndash; button</strong> to decrement the counter as well</li>
      <li>Keep an eye on the uses remaining! Upgrade the tool before it breaks</li>
      <li>If the use counter reaches 0, the tool will break and be removed from your list</li>
    </ul>

    <h3 class="display-1 mt-6">Upgrading or deleting a tool</h3>
    <ul>
      <li>To upgrade a tool, click the <strong>green upgrade icon</strong> on the upper right of the tool</li>
      <li>A popup will appear asking you what tool you are upgrading it to</li>
      <li>The original tool will be removed from your list, and the new tool will show up</li>
      <li>If a tool breaks early, or if you added the wrong one, click the <strong>red trash can icon</strong> to delete it</li>
    </ul>

    <p class="mt-6">
      That's it! If you have any questions, comments, or concerns, <b>please</b> reach out to me via email
      (<a href="mailto:atoro@furhost.net">Atoro@FurHost.net</a>), Discord (<strong>Atoro#0001</strong>), or
      Telegram (<strong>@AtoroDesu</strong>) and let me know!
    </p>
  </v-card-text>
</v-card>