<v-card-text class="body-1">
  <h2 class="display-1 mb-6">Welcome to ACH:NH Tools!</h2>
  <p>This is a very simple website designed around letting you track the durability of your tools in Animal Crossing: New Horizons.</p>
  <p>One thing that people mention the most about what they would like changed in the game is the ability to see how close your tools are to breaking.
  Until that feature is a reality, this tool is the second best thing.</p>
  <p>A simple, clean interface, easy to use controls, and even accounts so you can log in on multiple devices and keep track of your tools everywhere.</p>
  <p class="mt-12">What are you waiting for? <a href="{% url 'login' %}">Create an account</a> today!</p>
</v-card-text>